<nav class="nav">
    <h1><a routerLink="">eBazaar</a></h1>
    <div class="search-box">
        <input type="text" name="" id="" placeholder="Search eBazaar" />
        <button><span class="material-symbols-outlined">
            search
            </span></button>
    </div>
    
    <ul>
        <li id="login-menu" (mouseenter)="showDropdown()" (mouseleave)="hideDropdown()">
            <div class="dropdown">
                <button class="dropbtn">Hello, sign in</button>
                <div class="dropdown-content" #dropdownContent>
                    <a href="#">Sign in</a>
                    <a (click)="navigateToSellerLogin()">Seller Center</a>
                </div>
              </div> 
        </li>
        <li><a href="#">Cart(0)</a></li>
    </ul>
</nav>