<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a *ngIf="menuType==='default'" class="navbar-brand" routerLink="/">eBazaar</a>
        <a *ngIf="menuType==='seller'" class="navbar-brand" (click)="navigateToSellerLogin()">eBazaar Seller</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="isMenuCollapsed = !isMenuCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarNav">
            <div *ngIf="menuType==='default'" class="d-flex flex-grow-1 justify-content-center">
                <form class="container-fluid" style="width: 50%;">
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="Search eBazaar">
                        <span class="btn btn-warning input-group-text">
                            <span class="material-symbols-outlined mt-2">search</span>
                        </span>
                    </div>
                </form>
            </div>
            <ul *ngIf="menuType==='default'" class="navbar-nav ms-auto">
                <li ngbDropdown class="nav-item dropstart">
                    <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Hello, sign in
                    </a>
                    <ul ngbDropdownMenu class="dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <li><a ngbDropdownItem class="dropdown-item" role="button" href="#">Sign in</a></li>
                        <li><a ngbDropdownItem class="dropdown-item" role="button" (click)="navigateToSellerLogin()">Go
                                to eBazaar Seller</a></li>
                        <li><a ngbDropdownItem class="dropdown-item" role="button" href="#">Cart(0)</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a ngbDropdownItem class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <ul *ngIf="menuType==='seller'" class="navbar-nav ms-auto">
                <li ngbDropdown class="nav-item dropstart">
                    <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Seller {{ sellerName | titlecase}}
                    </a>
                    <ul ngbDropdownMenu class="dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <li><a ngbDropdownItem class="dropdown-item" role="button"
                                (click)="navigateToSellerLogin()">Products List</a></li>
                        <li><a ngbDropdownItem class="dropdown-item" role="button" (click)="navigateToAddProduct()">Add
                                Product</a></li>
                        <li><a ngbDropdownItem class="dropdown-item" role="button" routerLink="/">Go to eBazaar</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a ngbDropdownItem class="dropdown-item" (click)="sellerLogout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>