<div class="products-list">
    <h2>Your Products</h2>
    <p class="success">{{productDeletedMessage}}</p>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>Category</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of productList">
                <td><img id="product-image" src="{{product.image}}" alt="product_image"></td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.color}}</td>
                <td>{{product.category}}</td>
                <td>{{product.description}}</td>
                <td id="action-buttons"><span (click)="deleteProduct(product.id)" class="material-symbols-outlined">delete</span>
                    <span (click)="navigateToUpdateProduct(product.id)" class="material-symbols-outlined">edit</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>