<div class="seller-auth">
    <!--Start of Sign up form -->
    <div *ngIf="!isLoginForm" class="seller-signup">
        <h2>Create Seller Account</h2>
        <form #sellerSignUpForm="ngForm" (ngSubmit)="signUp(sellerSignUpForm.value)" class="eb-form">
            <input class="eb-form-input" ngModel name="name" type="text" placeholder="Name">
            <input class="eb-form-input" ngModel name=email type="email" placeholder="Email">
            <input class="eb-form-input" ngModel name="password" type="password" placeholder="Password">
            <button class="eb-form-button">Signup</button>
            <p class="auth-toggle">Already have a seller account? <a class="auth-toggle-link" (click)="showLoginForm()">Login here!</a></p>
        </form>
    </div>
    <!-- End of Sign up form -->
    <!-- Start of Sign in form -->
    <div *ngIf="isLoginForm" class="seller-signin">
        <h2>Login To Your Seller Account</h2>
        <p class="error">{{ loginError }}</p>
        <form #sellerLoginForm="ngForm" (ngSubmit)="login(sellerLoginForm.value)" class="eb-form">
            <input class="eb-form-input" ngModel name=email type="email" placeholder="Email">
            <input class="eb-form-input" ngModel name="password" type="password" placeholder="Password">
            <button class="eb-form-button">Login</button>
            <p class="auth-toggle">Don't have a seller account? <a class="auth-toggle-link" (click)="showSignupForm()">Create one here!</a></p>

        </form>
    </div>
    <!-- End of Sign in form -->
</div>