<ngb-carousel class="m-2" *ngIf="popularProducts" [showNavigationArrows]="showNavigationArrows"
	[showNavigationIndicators]="showNavigationIndicators">
	<ng-template ngbSlide *ngFor="let product of popularProducts">
		<div class="picsum-img-wrapper">
			<img class="ebds-product-img" src="{{product.image}}" alt="Random slide" />
		</div>
		<div class="carousel-caption">
			<h3 class="ebds-carousel-caption">{{product.name}}</h3>
			<p class="ebds-carousel-caption">{{product.description}}</p>
		</div>
	</ng-template>
</ngb-carousel>
<div class="m-3 p-3">
	<h1 class="mb-2">Trendy Products</h1>
	<div class="row">
			<div class="card m-1" style="width: 18rem;">
				<img src="https://m.media-amazon.com/images/I/618Bb+QzCmL._AC_UF1000,1000_QL80_.jpg"
					class="card-img-top ebds-card-img mx-auto mt-2" alt="...">
				<div class="card-body text-center">
					<h5 class="card-title">Card title</h5>
					<h6 class="card-subtitle mb-2 text-muted">Rs. 14,000</h6>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
						card's
						content.</p>
					<a href="#" class="card-link">View Details</a>
					<a href="#" class="card-link">Add to cart</a>
				</div>
			</div>
			<div class="card m-1" style="width: 18rem;">
				<img src="https://m.media-amazon.com/images/I/618Bb+QzCmL._AC_UF1000,1000_QL80_.jpg"
					class="card-img-top ebds-card-img mx-auto mt-2" alt="...">
				<div class="card-body text-center">
					<h5 class="card-title">Card title</h5>
					<h6 class="card-subtitle mb-2 text-muted">Rs. 14,000</h6>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
						card's
						content.</p>
					<a href="#" class="card-link">View Details</a>
					<a href="#" class="card-link">Add to cart</a>
				</div>
			</div>
			<div class="card m-1" style="width: 18rem;">
				<img src="https://m.media-amazon.com/images/I/618Bb+QzCmL._AC_UF1000,1000_QL80_.jpg"
					class="card-img-top ebds-card-img mx-auto mt-2" alt="...">
				<div class="card-body text-center">
					<h5 class="card-title">Card title</h5>
					<h6 class="card-subtitle mb-2 text-muted">Rs. 14,000</h6>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
						card's
						content.</p>
					<a href="#" class="card-link">View Details</a>
					<a href="#" class="card-link">Add to cart</a>
				</div>
			</div>
			<div class="card m-1" style="width: 18rem;">
				<img src="https://m.media-amazon.com/images/I/618Bb+QzCmL._AC_UF1000,1000_QL80_.jpg"
					class="card-img-top ebds-card-img mx-auto mt-2" alt="...">
				<div class="card-body text-center">
					<h5 class="card-title">Card title</h5>
					<h6 class="card-subtitle mb-2 text-muted">Rs. 14,000</h6>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
						card's
						content.</p>
					<a href="#" class="card-link">View Details</a>
					<a href="#" class="card-link">Add to cart</a>
				</div>
			</div>
			<div class="card m-1" style="width: 18rem;">
				<img src="https://m.media-amazon.com/images/I/618Bb+QzCmL._AC_UF1000,1000_QL80_.jpg"
					class="card-img-top ebds-card-img mx-auto mt-2" alt="...">
				<div class="card-body text-center">
					<h5 class="card-title">Card title</h5>
					<h6 class="card-subtitle mb-2 text-muted">Rs. 14,000</h6>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
						card's
						content.</p>
					<a href="#" class="card-link">View Details</a>
					<a href="#" class="card-link">Add to cart</a>
				</div>
			</div>
	</div>
</div>