<div class="update-product">
    <h2>Update Product</h2>
    <p class="success">{{productUpdatedMessage}}</p>
    <form #addProduct="ngForm" (ngSubmit)="updateProduct(addProduct.value)" class="eb-form">
        <input class="eb-form-input" ngModel="{{productData?.name}}" name="name" type="text" placeholder="Product Name">
        <input class="eb-form-input" ngModel="{{productData?.price}}" name="price" type="text"
            placeholder="Product Price">
        <input class="eb-form-input" ngModel="{{productData?.color}}" name="color" type="text"
            placeholder="Product Color">
        <input class="eb-form-input" ngModel="{{productData?.category}}" name="category" type="text"
            placeholder="Product Category">
        <textarea class="eb-form-input" ngModel="{{productData?.description}}" name="description"
            placeholder="Product Description"></textarea>
        <input class="eb-form-input" ngModel="{{productData?.image}}" name=image type="url"
            placeholder="Product Image URL">
        <button class="eb-form-button">Update Product</button>
    </form>
</div>